.title {
  text-align: center;
  background-color: lightgreen;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
}

.content {
  background-color: lightblue;
  > table {
    width: 100%;
    text-align: center;
    border: 1px solid orange;
  }
  td, th {
    border-left: 1px solid orange;
    height: 40px;
    &:first-child {
      border-left: none;
    }
  }
  td {
    border-top: 1px solid orange;
  }
}
